* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteinerCadastroUsuariosGeral {
  background-color: var(--dark-bg);
  color: var(--text-color);
  border-radius: 12px;
  padding: 30px 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px var(--vintage-shadow);
  text-align: center;
  border: var(--vintage-border);
  background-image: var(--vintage-bg);
  background-size: 200% 200%;
  animation: vintageGlow 5s linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o container */
}

@keyframes vintageGlow {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 200% 0;
  }
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--light-bg);
  color: var(--text-color);
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-shadow: 0 2px 4px var(--vintage-shadow);
}

input:focus {
  border-color: var(--hover-color);
  outline: none;
}

button {
  padding: 12px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--dark-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px var(--vintage-shadow);
}

button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 6px 8px var(--vintage-shadow);
}

.buttonVoltar {
  display: inline-block;
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.buttonVoltar:hover {
  background-color: var(--primary-color);
  color: var(--dark-bg);
}

@media (max-width: 768px) {
  .conteinerCadastroUsuariosGeral {
    padding: 20px;
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .buttonVoltar {
    font-size: 14px;
  }
}
