footer {
  background-color: #cad8001a;
  color: #000000;
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}

footer p {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff0066;
}
